<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Name="Sklad Desktop" Manufacturer="Skill"
      Id="1EDF5D89-5BB2-4A12-B8FD-9DAA9F363639"
      UpgradeCode="E1E7E6A8-D96D-4D26-926E-8F638B9A3992"
      Language="1049" Codepage="1251" Version="1.0.0.0">
    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="skill.cab" EmbedCab="yes" />

    <!--<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />-->
    <!--<MediaTemplate />-->

    <Feature Id="ProductFeature" Title="Main Product" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Icon Id="ProgramIcon.exe" SourceFile="$(var.Warehouse.Wpf.TargetPath)" />

    <UIRef Id="SkladUI" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Sklad" />
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs" />
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <Fragment>
    <UI Id="SkladUI">
      <UIRef Id="WixUI_Mondo" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
  </Fragment>
</Wix>
